//Esquema de colores

//Primer esquema de colores white
$white: #fff;
$isabelline: #eeeded;
$spanish-gray: #989797;

//Segundo esquema de colores yellow
$coral: #fa824c;
$buff: #f1dd7b;
$vainilla: #f5e7a1;

//Tercer esquema de colores orange
$flame: #e4572e;
$light-red-ochre: #e87554;
$pastel-pink: #f2b2a0;

//Cuarto esuqema de colores green
$shiny-shamrock: #4ca866;
$turquoise-green: #9dcfab;
$pastel-gray: #bddfc7;
//Quinto esquema de colores blue
$blue-de-france: #3c91e6;
$blue-jeans: #5fa5ea;
$jordy-blue: #82b9ef;

//Sexto esquema de colores black
$black: #000000;
$outer-space: #454545;
$quick-silver: #a2a2a2;

//typography
$pt-mono: 'PT Mono', monospace;
$roboto: 'Roboto', sans-serif;

//Peso de fuente
$regular: 400;
$light: 300;

//font-sizes
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
