.sectionAbout{
  width: 100%;
  height: auto;
  overflow: hidden;
  display: block;
  clear: both;

}

.about__contact{
  height: 18rem;
  display:inline-block;
  float: left;
  overflow: hidden;
  padding: 3rem;
}

.about_map{
  height: 16rem;
  display: inline-block;
  float: left;
  position: relative;
}

.boxBlue{
  width: 100%;
  height: 14rem;
  position: absolute;
  background-color: $blue-de-france;
  top: 0;
  right: 0;
}

.map{
  width: 25rem;
  height: auto;
  position: absolute;
  top: 2rem;
  left: -2rem;
}

.grain{
  width: 6rem;
  height: 8rem;
  position: absolute;
  top: 0;
  right: -2rem;
  overflow: hidden;
  z-index: 1;
}

.about__img{
  height: 16rem;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  background-image: url('../img/img-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

}
